<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css" />

    <!-- Login theme -->
    <link rel="stylesheet" href="../css/login.css" />
</head>
<body>
<div class="container">
    <div th:replace="fragments :: header"> </div>

    <div class="row">
        <p>Oops. Parece que hubo un error.</p>
    </div>

    <div th:replace="fragments :: footer"> </div>
</div>

<!-- jQuery library -->
<script src="../js/jquery.min.js"></script>

<!-- Login JavaScript -->
<script src="../js/login.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>