<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>Tarjeta Mascotin</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />

    <!-- Login theme -->
    <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
    <!-- Header -->
    <div th:fragment="header">
        <header class="header header-menu-fullw">

            <div class="header-main">
                <div class="container">
                    <!-- Logo -->
                    <div class="text-center">
                        <a href="/"><img th:src="@{/images/logo.png}" alt="Tarjeta Mascotin" /></a>
                    </div>
                    <!-- Logo / End -->
                </div>
            </div>

            <nav class="nav-main">
                <div class="container">
                    <ul data-breakpoint="992" class="flexnav">
                        <li><a href="/home">Inicio</a></li>
                        <li><a href="/plans">Planes</a></li>
                        <li sec:authorize="!isAuthenticated()"><a href="/login">Login</a></li>
                        <li sec:authorize="!isAuthenticated()"><a href="/registration">Registro</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/login">Ver mi perfil - <span sec:authentication="name"></span></a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/logout">Desconectarse</a></li>
                        <li><a href="/contacts">Contacto</a></li>
                    </ul>
                </div>
            </nav>
        </header>
    </div>
    <!-- Header / End -->

    <!-- Footer -->
    <div th:fragment="footer">
        <footer class="footer" id="footer">
            <div class="footer-copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            Copyright &copy; 2017  <a href="/"> TarjetaMascotin</a> &nbsp;
                        </div>
                        <div class="col-sm-6 col-md-8">
                            <div class="social-links-wrapper">
                                <ul class="social-links social-links__light">
                                    <li><a href="https://www.facebook.com/Tarjeta-Mascotin-1800110913588760/"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/TarjetaMascotin"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/tarjeta-mascotin-507496134?authType=&authToken=&trk=mp-allpost-aut-name"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- Footer / End -->

    <div th:fragment="recover-success">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="active" id="login-form-link">La contraseña ha sido enviada al correo electrónico indicado.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="registration-failed">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#" class="active" id="login-form-link">El correo electrónico ingresado ya se encuentra registrado.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:fragment="registration-success">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="panel panel-login">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-6">
                                    <a href="#" class="active" id="login-form-link">Usted ha sido registrado.</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- jQuery library -->
<script src="/js/jquery.min.js"></script>

<!-- Login JavaScript -->
<script src="/js/login.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="/js/bootstrap.min.js"></script>
</body>
</html>