<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8" />
	<title>Inicio | TarjetaMascotin</title>
	<meta name="description" content="PetSitter - Responsive HTML5 Template - 1.0" />
	<meta name="author" content="http://themeforest.net/user/dan_fisher" />


	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
	
	<!-- Google Web Fonts
	================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Bitter:700' rel='stylesheet' type='text/css' />
	
	<!-- CSS
	================================================== -->
	<!-- Base + Vendors CSS -->
	<link rel="stylesheet" th:href="@{~/css/bootstrap.min.css}" />
	<link rel="stylesheet" th:href="@{~/css/fonts/font-awesome/css/font-awesome.css}" />
	<link rel="stylesheet" th:href="@{~/css/fonts/entypo/css/entypo.css}" />
	<link rel="stylesheet" th:href="@{~/vendor/owl-carousel/owl.carousel.css}" media="screen" />
	<link rel="stylesheet" th:href="@{~/vendor/owl-carousel/owl.theme.css}" media="screen" />
	<link rel="stylesheet" th:href="@{~/vendor/magnific-popup/magnific-popup.css}" media="screen" />
	<link rel="stylesheet" th:href="@{~/vendor/flexslider/flexslider.css}" media="screen" />

	<!-- Theme CSS-->
	<link rel="stylesheet" th:href="@{~/css/theme.css}" />
	<link rel="stylesheet" th:href="@{~/css/theme-elements.css}" />
	<link rel="stylesheet" th:href="@{~/css/animate.min.css}" />



	<!-- Head Libs -->
	<script src="vendor/modernizr.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="vendor/respond.min.js"></script>
	<![endif]-->

	<!--[if IE]>
		<link rel="stylesheet" href="css/ie.css" />
	<![endif]-->
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png" />
	
</head>
<body>

	<div class="site-wrapper">

		<!-- Header -->
        <div th:replace="fragments :: header"> </div>
		<!-- Header / End -->

        <!-- Main -->
        <div class="main" role="main">

            <!-- Page Heading -->
            <section class="page-heading">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Inicio</h1>
                        </div>
                        <div class="col-md-6">
                            <ul class="breadcrumb">
                                <li class="active">Inicio</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Page Heading / End -->

            <!-- Page Content -->
            <section class="page-content">
                <div class="container">
                    <div class="row box">
                        <div class="col-md-12">
                            <h2>Montones de beneficios te estan esperando</h2>
                            <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="100">
                                <div class="icon">
                                    <i class="entypo search"></i>
                                </div>
                                <div class="icon-box-body">
                                    <h4>Busque dentro de nuestra red de socios</h4>
                                    <p>Podes disfrutar de todos los beneficios que nuestros socios brindan.</p>
                                </div>
                            </div>

                            <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="200">
                                <div class="icon">
                                    <i class="entypo vcard"></i>
                                </div>
                                <div class="icon-box-body">
                                    <h4>Contacto detallado</h4>
                                    <p>Te brindamos la informacion necesaria para ponerte en contacto</p>
                                </div>
                            </div>

                            <div class="icon-box circled icon-box-animated" data-animation="fadeInLeft" data-animation-delay="300">
                                <div class="icon">
                                    <i class="entypo check"></i>
                                </div>
                                <div class="icon-box-body">
                                    <h4>Amplia trayectoria</h4>
                                    <p>Todos nuestros socios son profesionales aprobados.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="spacer-sm"></div>

                    <div class="container">
                        <ul class="team-list row">
                            <li class="team-item col-md-3" th:each="asociado : ${asociados}">
                                <div class="team-item-inner">
                                    <figure class="team-thumb">
                                        <img src="http://placehold.it/288x268" alt="">

                                        <div class="overlay"></div>

                                        <ul class="team-social list-unstyled">
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </figure>
                                    <header class="team-head">
                                        <h5 class="team-name" th:text="${asociado.nombreNegocio}"></h5>
                                        <span class="team-head-info" th:text="${asociado.direccion}"></span>
                                    </header>
                                    <div class="team-excerpt" th:text="${asociado.descripcion}">
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>

                </div>
            </section>
            <!-- Page Content / End -->

            <!-- Footer -->
            <div th:replace="fragments :: footer"> </div>
            <!-- Footer / End -->

        </div>
        <!-- Main / End -->
	</div>
	
	<!-- Javascript Files
	================================================== -->
	<script src="vendor/jquery-1.11.0.min.js"></script>
	<script src="vendor/jquery-migrate-1.2.1.min.js"></script>
	<script src="vendor/bootstrap.js"></script>
	<script src="vendor/jquery.flexnav.min.js"></script>
	<script src="vendor/jquery.hoverIntent.minified.js"></script>
	<script src="vendor/jquery.flickrfeed.js"></script>
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
	<script src="vendor/isotope/jquery.imagesloaded.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
	<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="vendor/jquery.fitvids.js"></script>
	<script src="vendor/jquery.appear.js"></script>
	<script src="vendor/jquery.stellar.min.js"></script>
	<script src="vendor/flexslider/jquery.flexslider-min.js"></script>

	<!-- Newsletter Form -->
	<script src="vendor/jquery.validate.js"></script>
	<script src="js/newsletter.js"></script>

	<script src="js/custom.js"></script>

	<script>
		jQuery(function($){
			$('body').addClass('loading');
		});
		
		$(window).load(function(){
			$('.flexslider').flexslider({
				animation: "fade",
				controlNav: true,
				directionNav: false,
				prevText: "",
				nextText: "",
				start: function(slider){
					$('body').removeClass('loading');
				}
			});
		});
	</script>

    <!-- Google Map -->
    <script src="http://maps.google.com/maps/api/js?sensor=true"></script>
    <script src="vendor/jquery.gmap3.min.js"></script>
	
</body>
</html>