<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
	<title>Planes | TarjetaMascotin</title>
	<meta name="description" content="PetSitter - Responsive HTML5 Template - 1.0">
	<meta name="author" content="http://themeforest.net/user/dan_fisher">


	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
	
	<!-- Google Web Fonts
	================================================== -->
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic|Bitter:700' rel='stylesheet' type='text/css'>
	
	<!-- CSS
	================================================== -->
	<!-- Base + Vendors CSS -->
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/fonts/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="css/fonts/entypo/css/entypo.css">
	<link rel="stylesheet" href="vendor/owl-carousel/owl.carousel.css" media="screen">
	<link rel="stylesheet" href="vendor/owl-carousel/owl.theme.css" media="screen">
	<link rel="stylesheet" href="vendor/magnific-popup/magnific-popup.css" media="screen">

	<!-- Theme CSS-->
	<link rel="stylesheet" href="css/theme.css">
	<link rel="stylesheet" href="css/theme-elements.css">
	<link rel="stylesheet" href="css/animate.min.css">



	<!-- Head Libs -->
	<script src="vendor/modernizr.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="vendor/respond.min.js"></script>
	<![endif]-->

	<!--[if IE]>
		<link rel="stylesheet" href="css/ie.css">
	<![endif]-->
	
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="144x144" href="images/apple-touch-icon-144x144.png">
	
</head>
<body>

	<div class="site-wrapper">

		<!-- Header -->
		<div th:replace="fragments :: header"> </div>
		<!-- Header / End -->

		<!-- Main -->
		<div class="main" role="main">

			<!-- Page Heading -->
			<section class="page-heading">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<h1>Planes</h1>
						</div>
						<div class="col-md-6">
							<ul class="breadcrumb">
								<li><a href="/">Inicio</a></li>
								<li class="active">Planes</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- Page Heading / End -->

			<!-- Page Content -->
			<section class="page-content">
				<div class="container">
						<div class="title-bordered" data-animation="fadeInUp" data-animation-delay="0">
							<h2>Nuestros planes <small>para tus mascotas</small></h2>
						</div>
						<div class="row">
							<div class="pricing-table pricing-table__style4">
								<div class="col-md-4">
									<div class="plan">
										<header class="pricing-head">
											<h3>Plan 1</h3>
											<div class="pricing-head-inner">
												<span class="price"><sup>$</sup> 35</span>
												<small>anual</small>
											</div>
										</header>
										<div class="pricing-body">
											<ul>
												<li>Descuentos en veterinarias y servicios clínicos para mascotas</li>
												<li>Descuentos en servicios utiles para mascotas</li>
												<li>Descuentos en productos y accesorios para mascotas</li>
												<li>Amplia red de asociados en Lima y provincias.</li>
												<li>Libros y Servicios online exclusivos para los socios</li>
												<li>Promociones, sorteos mensuales &amp; más!</li>
												<li>1 mascota</li>
											</ul>
										</div>
										<footer class="pricing-footer">
											<a mp-mode="dftl" href="https://www.mercadopago.com/revamp/checkout/start?pref_id=31562741-7daef349-05b1-403f-8191-a084231122f3" name="MP-payButton" class='orange-ar-l-rn-none'>Contratar</a>
											<script type="text/javascript">
												(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
											</script>
										</footer>
									</div>
								</div>
								<div class="col-md-4">
									<div class="plan popular">
										<header class="pricing-head">
											<h3>Plan 2</h3>
											<div class="pricing-head-inner">
												<span class="price"><sup>$</sup> 65</span>
												<small>anual</small>
											</div>
										</header>
										<div class="pricing-body">
											<ul>
												<li>Descuentos en veterinarias y servicios clínicos para mascotas</li>
												<li>Descuentos en servicios utiles para mascotas</li>
												<li>Descuentos en productos y accesorios para mascotas</li>
												<li>Amplia red de asociados en Lima y provincias.</li>
												<li>Libros y Servicios online exclusivos para los socios</li>
												<li>Promociones, sorteos mensuales &amp; más!</li>
												<li>2 mascotas</li>
											</ul>
										</div>
										<footer class="pricing-footer">
											<a mp-mode="dftl" href="https://www.mercadopago.com/revamp/checkout/start?pref_id=31562741-c70fea7d-0581-4648-9225-2f14d7309fa3" name="MP-payButton" class='orange-ar-l-rn-none'>Contratar</a>
											<script type="text/javascript">
												(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
											</script>
										</footer>
									</div>
								</div>
								<div class="col-md-4">
									<div class="plan">
										<header class="pricing-head">
											<h3>Plan 3</h3>
											<div class="pricing-head-inner">
												<span class="price"><sup>$</sup> 95</span>
												<small>anual</small>
											</div>
										</header>
										<div class="pricing-body">
											<ul>
												<li>Descuentos en veterinarias y servicios clínicos para mascotas</li>
												<li>Descuentos en servicios utiles para mascotas</li>
												<li>Descuentos en productos y accesorios para mascotas</li>
												<li>Amplia red de asociados en Lima y provincias.</li>
												<li>Libros y Servicios online exclusivos para los socios</li>
												<li>Promociones, sorteos mensuales &amp; más!</li>
												<li>3 mascotas en adelante</li>
											</ul>
										</div>
										<footer class="pricing-footer">
											<a mp-mode="dftl" href="https://www.mercadopago.com/revamp/checkout/start?pref_id=31562741-2eaf8252-1134-4760-a069-44e303c08ef2" name="MP-payButton" class='orange-ar-l-rn-none'>Contratar</a>
											<script type="text/javascript">
												(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
											</script>
										</footer>
									</div>
								</div>
							</div>
						</div>

				</div>
			</section>
			<!-- Page Content / End -->

			<!-- Footer -->
			<div th:replace="fragments :: footer"> </div>
			<!-- Footer / End -->
			
		</div>
		<!-- Main / End -->
	</div>
	
	
	
	
	
	<!-- Javascript Files
	================================================== -->
	<script src="vendor/jquery-1.11.0.min.js"></script>
	<script src="vendor/jquery-migrate-1.2.1.min.js"></script>
	<script src="vendor/bootstrap.js"></script>
	<script src="vendor/jquery.flexnav.min.js"></script>
	<script src="vendor/jquery.hoverIntent.minified.js"></script>
	<script src="vendor/jquery.flickrfeed.js"></script>
	<script src="vendor/isotope/isotope.pkgd.min.js"></script>
	<script src="vendor/isotope/jquery.imagesloaded.min.js"></script>
	<script src="vendor/magnific-popup/jquery.magnific-popup.js"></script>
	<script src="vendor/owl-carousel/owl.carousel.min.js"></script>
	<script src="vendor/jquery.fitvids.js"></script>
	<script src="vendor/jquery.appear.js"></script>
	<script src="vendor/jquery.stellar.min.js"></script>

	<!-- Newsletter Form -->
	<script src="vendor/jquery.validate.js"></script>
	<script src="js/newsletter.js"></script>

	<script src="js/custom.js"></script>


	
</body>
</html>