<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Tarjeta Mascotin</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css" />

    <!-- Login theme -->
    <link rel="stylesheet" href="../css/login.css" />
</head>
<body>

<div th:replace="fragments :: header"> </div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Su mensaje ha sido enviado.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"> </div>

<!-- jQuery library -->
<script src="../js/jquery.min.js"></script>

<!-- Login JavaScript -->
<script src="../js/login.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>