<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css" />

    <!-- Login theme -->
    <link rel="stylesheet" href="../css/login.css" />

    <!-- Services theme -->
    <link rel="stylesheet" href="../css/services.css" />
</head>
<body>
<div class="container">
    <div th:replace="fragments :: header"> </div>

    <div class="row">
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Plan Básico</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $100<span class="subscript"> soles/año</span></h1>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Descuentos
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Reservas Online
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Acceso a contenido web exclusivo
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Libro Adiestramiento gratuito
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-success" role="button">Contratar</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="panel panel-success">
                <div class="cnrflash">
                    <div class="cnrflash-inner">
                        <span class="cnrflash-label">El más elegido</span>
                    </div>
                </div>
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Plan Premium</h3>
                </div>
                <div class="panel-body">
                    <div class="the-price">
                        <h1>
                            $200<span class="subscript"> soles/año</span></h1>
                    </div>
                    <table class="table">
                        <tr>
                            <td>
                                Desscuentos
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Reservas Online
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Acceso a Contenido Web Exclusivo
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Acceso a Consultas Online: Veterinarios, Adiestradores, y temas legales
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Medalla Qr de Identificación
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Difusión gratuita de Pérdida de mascota en Redes Sociales y Protectoras
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Revisión Veterinario Gratuito al recuperar mascota perdida
                            </td>
                        </tr>
                        <tr class="active">
                            <td>
                                Muestras gratuitas de productos
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Libro Adiestramiento gratuito
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="panel-footer">
                    <a href="#" class="btn btn-success" role="button">Contratar</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"> </div>

<!-- jQuery library -->
<script src="../js/jquery.min.js"></script>

<!-- Login JavaScript -->
<script src="../js/login.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>