<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="../css/bootstrap-theme.min.css" />

    <!-- Login theme -->
    <link rel="stylesheet" href="../css/login.css" />
</head>
<body>

<div th:replace="fragments :: header"> </div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-login">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-6">
                            <a href="#" class="active" id="login-form-link">Identificarse</a>
                        </div>
                        <div class="col-xs-6">
                            <a href="#" id="register-form-link">Registrarse</a>
                        </div>
                    </div>
                    <hr />
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <form id="login-form" action="#" th:action="@{/user/user-login}" method="post" role="form" style="display: block;">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" tabindex="1" class="form-control" placeholder="Correo Electrónico" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Contraseña" />
                                </div>
                                <div class="form-group text-center">
                                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember" />
                                    <label for="remember">Recordarme</label>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Ingresar" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="text-center">
                                                <a href="/user/recover" tabindex="5" class="forgot-password">Olvidé mi contraseña</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <form id="register-form" action="#" th:action="@{/user/registration-success}" th:object="${user}" method="post" role="form" style="display: none;">
                                <div class="form-group">
                                    <input type="text" name="name" id="first-name" th:field="*{firstName}" tabindex="1" class="form-control" placeholder="Nombre" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="text" name="name" id="last-name" th:field="*{lastName}" tabindex="2" class="form-control" placeholder="Apellido" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="number" name="dni" id="dni" th:field="*{dni}" tabindex="3" class="form-control" placeholder="DNI" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="email" name="email" id="email" th:field="*{email}" tabindex="4" class="form-control" placeholder="Correo Electrónico" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="email" name="confirm-email" id="confirm-email" tabindex="5" class="form-control" placeholder="Confirmar Correo Electrónico" value="" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="password" id="password" th:field="*{password}" tabindex="6" class="form-control" placeholder="Contraseña" />
                                </div>
                                <div class="form-group">
                                    <input type="password" name="confirm-password" id="confirm-password" tabindex="7" class="form-control" placeholder="Confirmar Contraseña" />
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-sm-6 col-sm-offset-3">
                                            <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Registrarse" />
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"> </div>

<!-- jQuery library -->
<script src="../js/jquery.min.js"></script>

<!-- Login JavaScript -->
<script src="../js/login.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="../js/bootstrap.min.js"></script>
</body>
</html>